/* style for mobile */

  
.inputCon{
  background-color: rgb(245, 245, 245);
  display:flex;
  flex-direction: column;
  padding:15px;
  text-align: center;
}

.cardHeadline{
  color:#10c772;
  margin:10px 0px;

}

.innerCon{
  display: flex;
  flex-direction: column;
}

.inputInnerCon{
  display: flex;
  flex-direction: column;
  margin:5px;
}

textarea{
  background-color: rgba(253, 249, 244, 0.452);
  resize: none;
  height:250px;
  color:#0c9656;
  font-size: 2em;;
  border:rgb(192, 173, 230) 1px solid;;
  width:100%;
}
.btn{
  background-color:#039752;
  color:rgb(254, 254, 254);
  min-width: 60%;
  margin-right:auto;
  margin-left: auto;
  margin-top:30px;
  margin-bottom:30px;
  padding:25px 30px;
  border:none;
  font-size: 1.5em;;
  box-shadow: 3px 4px 3p 4px rgb(31, 21, 21);

}


@media (min-width: 600px) {
.inputCon{
width:90%;
margin-left: auto;
margin-right: auto;
}

.innerCon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



}

@media (min-width: 900px) {
  .inputCon{
  width:65%;
  margin-left: auto;
  margin-right: auto;
  }
  
  }