body {
  background-color: #3f106b;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  max-width:100vw;
  height:100vh;
  margin:5px
}

p{
  font-size: 1em;
}

h1{
  font-size: 2em;;
}

.subtitle{
  color:rgb(255, 255, 255);
}